@import './icon/style';
@import './conf';
@import './base/common';
@import './components/form';

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.ta-center {
    text-align: center !important;
}

.ta-left {
    text-align: left !important;
}

.inner-title {
    margin-bottom: 20px;
    font-size: 22px;
}

.form-wrapper {
    border: 1px solid $grayLightest;
    padding: 20px;
    .el-form-item {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.tips {
    color: $grayDarker;
    font: {
        size: 12px;
        weight: normal;
    }
}

.k-form {
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid $grayLightest;
    border-radius: 3px;
    &-row {
        display: flex;
    }
    &-label {
        width: 120px;
        height: 36px;
        line-height: 36px;
        padding-right: 20px;
        font-size: 14px;
        color: $grayDarker;
        text-align: right;
        &.k-required {
            &:before {
                content: '*';
                margin-right: 5px;
                color: $danger;
            }
        }
    }
    &-content {
        width: calc(100% - 120px);
        font-size: 14px;
    }
    &-btns {
        padding-left: 120px;
        font-size: 0;
    }
}

.k-table {
    width: 100%;
    border-collapse: collapse;
    &-item {
        padding: 12px 8px;
        border-bottom: 1px solid $grayLighter;
        text-align: center;
        font: {
            size: 14px;
            weight: normal;
        }
    }
    &-row {
        &:hover {
            .k-table-item {
                background-color: $grayLightest;
            }
        }
    }
}

.lh-36 {
    line-height: 36px;
}

.text-link {
    color: $primary;
    &:hover {
        opacity: .8;
    }
}
