@import './conf';

@font-face {
    font-family: 'Ubuntu';
    src: url('./../static/ubuntu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', 'PingFangSC-Regular', 'Microsoft Yahei';
}

html,
body {
    min-height: 100%;
}

ul {
  font-size: 0;
}

ul li {
  display: inline-block;
  font-size: 14px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

img {
    vertical-align: center;
}

button {
    outline: none;
}

p {
    margin: 0;
    padding: 0;
}